@model MVC.Models.PhieuNhap

@{
    ViewData["Title"] = "Create";
}

<h2>Tạo Phiếu Nhập</h2>

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ngày nhập</label>
                <input asp-for="NgayNhap" class="form-control" />
            </div>

            <div class="form-group">
                <label>Nhà cung cấp</label>
                <select asp-for="NhaCungCapId" class="form-control" asp-items="ViewBag.NhaCungCapId"></select>
            </div>
        </div>
    </div>

    <hr />

    <h4>Chi tiết thiết bị</h4>

    <table class="table" id="tableChiTiet">
        <thead>
            <tr>
                <th>Thiết bị</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select name="chiTietNhaps[0].ThietBiId" class="form-control" asp-items="ViewBag.ThietBiId"></select>
                </td>
                <td>
                    <input name="chiTietNhaps[0].SoLuong" class="form-control" />
                </td>
                <td>
                    <input name="chiTietNhaps[0].DonGiaNhap" class="form-control" />
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">X</button>
                </td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-success" onclick="addRow()">+ Thêm dòng</button>

    <br /><br />

    <button type="submit" class="btn btn-primary">Lưu</button>
</form>

@section Scripts {
    <script>
        let index = 1;

        function addRow() {
            let table = document.getElementById("tableChiTiet").getElementsByTagName('tbody')[0];

            let newRow = table.insertRow();

            newRow.innerHTML = `
                <td>
                    <select name="chiTietNhaps[${index}].ThietBiId" class="form-control">
                        ${document.querySelector('select[name="chiTietNhaps[0].ThietBiId"]').innerHTML}
                    </select>
                </td>
                <td>
                    <input name="chiTietNhaps[${index}].SoLuong" class="form-control" />
                </td>
                <td>
                    <input name="chiTietNhaps[${index}].DonGiaNhap" class="form-control" />
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="removeRow(this)">X</button>
                </td>
            `;

            index++;
        }

        function removeRow(btn) {
            let row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }
    </script>
}